<h3>商品編集</h3>
	<%= form_for(@product, url: owners_product_path(@product)) do |f| %>
	<%= attachment_image_tag @product, :image , :fill, 200, 150, fallback: "no_image.jpg", size: '200x150'%>
	<%= f.attachment_field :image, placeholder: "" %>
	<div>
		<h4>商品名</h4>
		<%= f.text_field :name %>
	</div>
	<div>
		<h4>商品説明</h4>
		<%= f.text_area :introduce %>
	</div>
	<div>
		<h4>ジャンル</h4>
		<%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
	</div>
	<div>
		<h4>税込価格</h4>
		<%= f.text_field :price %>
	</div>
	<div>
	    <h4>販売ステータス</h4>
		<%= f.radio_button  :product_status, false %><span>販売中</span>
		<%= f.radio_button  :product_status, true %><span>販売停止</span>
	</div>
	<%= f.submit "変更を保存する" %>
	<% end %>





