<h3>商品詳細</h3>
	<%= attachment_image_tag @product, :image , :fill, 200, 150, fallback: "no_image.jpg", size: '200x150'%>
	<p>商品名</p>
		<%= @product.name %>
	<p>商品説明</p>
		<%= @product.introduce %>
	<p>ジャンル</p>
		<%= @product.genre.name %>
	<p>税込価格</p>
		<%= @product.price %>
	<p>販売ステータス</p>
		<% if @product.product_status == true %>
            <p>販売停止</p>
        <% else %>
       		<p>販売中</p>
        <% end %>

			<%= link_to "編集する", edit_owners_product_path, class:"btn btn-primary btn-md btn-block btn-base-1 mt-20　d-flex align-items-end"%>