<div class="container">

	<h1>商品一覧</h1>


	<%= flash[:notice] %>
	<%= link_to "商品追加", new_owner_product_path, class:"btn btn-default btn-circle marubtn" %>

	<%#= render 'products/form', product: @products %>

	<table class="table table-borderless">
		<thead class="thead-dark">
			<tr>
				<th>商品ID</th>
				<th>商品名</th>
				<th>商品紹介</th>
				<th>税抜き価格</th>
				<th>ジャンル</th>
				<th>期限</th>
				<th>ステータス</th>
			</tr>
		</thead>

		<tbody>
			<% @products.each do |product| %>
				<tr>
					<td><%= product.id %></td>
					<td class="admin-products-td">
	                	<%= link_to owner_product_path(product.id) do %>
						<%= product.name %>
						<% end %>
			    	</td>
			    	<td><%= product.introduce %></td>
	            	<td><%= product.price %></td>

	            	<td><%= product.genre.name %></td>
	                <td><%= (product.updated_at+product.limit.days).strftime("%Y/%m/%d %H:%M:%S" ) %></td>
	            	<td>
	            		<% if product.product_status == true %>
	            			<p>販売停止</p>
	            		<% else %>
	            			<p>販売中</p>
	            		<% end %>
	            	</td>
				</tr>
			<% end %>
		</tbody>

	</table>
	<div class="page">
	<%= paginate @products %>
	</div>
	</div>
	</div>
	</div>
</div>