<div class="container">
    <div class="row">
    	<div class="col-md-9 col-sm-9 col-xs-9">
    		<h3>店舗一覧</h3>
    		<div class="divline"></div>
				<% @owners.each do |owner| %>
					<div class="owner-card flex">
						<div class="owner-image">
							<%= link_to owner_path(owner.id) do %>
			            	<%= attachment_image_tag owner, :image , :fill, 300, 200, fallback: "no_image.jpg", size: '300x200' ,class:'card-img-top' %>
			            	<% end %>
			            </div>
			            <div class="owner-text">
				            <div>
				            	【<%= owner.category.name %>】
				            	<%= link_to owner_path(owner.id) do %>
									<%= owner.name %>
								<% end %>
								TEL：<%= owner.phone_number %>
				            </div>
				            <div class="owner-introduce">
						    	<%= owner.introduce %>
					    	</div>
					    	<div>
					    		平均利用額：<%= owner.average_price %>円
					    	</div>
					    	<div>
					    		<%= owner.postcode %>
					    	</div>
					    	<div>
					    		<%= owner.address %>
					    	</div>
					    	<div>
					    		コメント数：<%= owner.post_comments.count %>件

<script type="text/javascript">
$("document").ready(function() {
  $('#star-assess<%= owner.id %>').raty({
    size: 36,
   starOff: '<%= asset_path("star-off.png") %>',
   starOn: '<%= asset_path("star-on.png") %>',
   starHalf: '<%= asset_path("star-half.png") %>',
    half: true,
    readOnly: true,
    score: '<%= owner.post_comments.average(:assess).to_f.round(1) %>',
    //注目ポイント↑ 平均点を算出し、round関数で切り上げ
  });
  });
</script>
<div id="star-assess<%= owner.id %>"></div>

					    	</div>
					    </div>
				    </div>
				<% end %>
		   <div class="page">
          <%= paginate @owners %>
          </div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<h3>店舗検索</h3>
                <%= render 'owners/form', owner: @owners %>
		</div>
	</div>
</div>