<h1>Owners#show</h1>
<p>Find me in app/views/owners/show.html.erb</p>

<h3>店舗詳細</h3>

	<p>店舗写真</p>
		<%= attachment_image_tag @owner, :image ,:fill,100,70,fallback: "no_image.jpg", size: '100x70' %>
	<p>カテゴリー</p>
		<%= @owner.category.name %>
	<p>店舗名</p>
		<%= @owner.name %>
	<p>平均利用額</p>
		<%= @owner.average_price %>
	<p>店舗紹介</p>
		<%= @owner.introduce %>
	<p>郵便番号</p>
		<%= @owner.postcode %>
	<p>所在地</p>
		<%= @owner.address %>
	<p>電話番号</p>
		<%= @owner.phone_number %>

<h3>商品一覧</h3>
	<table>
		<thead>
    		<tr>
      		<th></th>
      		<th>商品名</th>
      		<th>商品紹介</th>
      		<th>価格</th>
      		<th>ジャンル</th>
      		<th>販売状況</th>
    		</tr>
  		</thead>

  		<tbody>

		<% @products.each do |product| %>
		<tr>
			<td><%= attachment_image_tag product, :image , :fill, 200, 150, fallback: "no_image.jpg", size: '200x150'%>
			</td>
			<td><%= product.name %></td>
            <td><%= product.introduce %></td>
            <td><%= product.price %></td>
            <td><%= product.genre.name %></td>
            <td><% if product.product_status == true %>
              <p>販売停止</p>
            <%else%>
              <p>販売中</p>
            <% end %>
            </td>
        </tr>
		<% end %>
	    </tbody>