<h1>OrderDetails#index</h1>
<p>Find me in app/views/order_details/index.html.erb</p>
  <h2>注文履歴一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>注文商品</th>
          </tr>
        </thead>
        <tbody>
        	<!-- オーダーした日にちごとに並べていく -->
          <% @orders.each do |order| %>
            <tr>
              <td>
                <% order.order_details.each do |order_detail|%>
                	<%= order_detail.product.name %>
                	<%= order_detail.product.price %>
                	<%= order_detail.ticket_count %>
                <%= link_to '表示する', order_detail_path(order_detail.id) %><br>
                <% end %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @orders %>      