<div class="container">

  <div class="row">
    <div class="col-md-9 col-sm-9 col-xs-9">
        	<!-- オーダーした日にちごとに並べていく -->
       <h3>チケット一覧</h3>
          <% @orders.each do |order| %>
          <table class="table">
            <thead>
            <tr>
              <th><%= order.created_at.strftime('%Y/%m/%d/%H:%M') %></th>
            </tr>
            </thead>
            <tbody>
              <tr>
              <td>
              <div class="flex">
                  <% order.order_details.each do |order_detail|%>
                    <div class="card">
                      <%= attachment_image_tag order_detail.product, :image , :fill, 158, 135, fallback: "no_image.jpg", size: '158x120' ,class:'card-img-top' %>
                      <div class="card-body">
                        <span class="card-text">
                          <%= order_detail.product.name %>
                        </span>
                        <span class="card-text">
                          <%= order_detail.product.price %>
                        </span>
                        <span class="card-text">
                          <%= order_detail.ticket_count %>
                        </span>
                        <div class="card-price">
                          <%= link_to '表示する', order_detail_path(order_detail.id) %><br>
                        </div>
                      </div>
                    </div>
                  <% end %>
              </div>
              </td>
              </tr>
            </tbody>
            </table>
          <% end %>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-3">
    <h3>ソート</h3>
    </div>
  </div>
      <%= paginate @orders %>
</div>