<div class="container">
    <div class="row">
		<h3>商品名</h3>
			<div class="divline"></div>
				<div class="card">
                      <%= attachment_image_tag @order_detail.product, :image , :fill, 158, 135, fallback: "no_image.jpg", size: '180x130' ,class:'card-img-top' %>
                      <div class="card-body">
                        <span class="card-text">
                          <%= @order_detail.product.name %>
                        </span>
                        <span class="card-text">
                          <%= @order_detail.product.price %>円
                        </span>
                        <div class="card-status">
                        	<%= @order_detail.ticket_count %>　枚
							<%= form_for @order_detail,url: order_detail_path(@order_detail.id) do |f|%>

								<% if @order_detail.ticket_count == 0 %>
								    <p>使用不可</p>
								<% else %>
							        <%= @order_detail.ticket_count %>
								<%= f.submit '使用する', class: "btn-sm btn-success cart-btn"%>
								<% end %>
							<% end %>
                        </div>
                      </div>
                    </div>
</div>
</div>
<br>
<br>