<%= render 'layouts/middlebar' %>
<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-9 col-xs-9">
<h2>注文情報確認</h2>
      <%= form_with(model: @order, url: orders_path,method: :post,local: true ) do |f| %>
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th></th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>

        </thead>
        <tbody>
          <% i = 0 %>
          <% @cart_item.each do |cart_item| %>
          <tr>
            <td><%= attachment_image_tag cart_item.product, :image ,:fill,60,60,fallback: "no_image.jpg", size: '100x80' %></td>
            <td><%= cart_item.product.name %></td>
                <%#= attachment_image_tag @product, :image ,fallback: "no_image.jpg"%>
            <td><%= cart_item.product.price %></td>
            <td><%= cart_item.count %></td>
            <td><%= cart_item.product.price*cart_item.count %></td>
            <% i = i + cart_item.product.price*cart_item.count %>
          </tr>
          <% end %>
        </tbody>
      </table>

<br>
<br>
    <span class="status">お支払い方法</span>
                    <% if @order.payment_method == true %>
                      <span>銀行振込</span>
                        <% else %>
                      <span>クレジットカード</span><br>
                    <% end %>
    <% end %>



</div>

<div class="col-md-3 col-sm-3 col-xs-3">
<br>



<br>
<br>
<br>
<br>
<br>
<br>
<%= form_with(model: @order, url:orders_path, method: :post, local: true) do |f| %>


  <% i = 0 %>
  <%# c = 0 %>
  <% @cart_item.each do |cart_item| %>
  <% i = i + cart_item.product.price*cart_item.count %>
  <%# c = c + cart_item.count %>
  <% end %>



  <%= f.hidden_field :payment, :value => i  %>
  <%= f.hidden_field :payment_method, :value => @order.payment_method %>

  <%= f.submit "購入を確定する", class: 'btn btn-success btn-lg' %>




<% end %>
</div>
</div>

</div>

<br>
<br>
