  <div id="container">
    <div class="theTarget">
      <div style="background-image: url(<%= asset_path('MAEticke.png')%>)"></div>
      <div style="background-image: url(<%= asset_path('MAEticke.png')%>)"></div>
      <div style="background-image: url(<%= asset_path('MAEticke.png')%>)"></div>
      <div style="background-image: url(<%= asset_path('MAEticke.png')%>)"></div>
      <div style="background-image: url(<%= asset_path('MAEticke.png')%>)"></div>
      <div style="background-image: url(<%= asset_path('MAEticke.png')%>)"></div>
    </div>
  </div>
