  <div id="container">
    <div class="theTarget">
      <div style="background-image: url(<%= asset_path('maeticke3.png')%>)"></div>
      <div style="background-image: url(<%= asset_path('Bakery.jpg')%>)"></div>
      <div style="background-image: url(<%= asset_path('book.jpg')%>)"></div>
      <div style="background-image: url(<%= asset_path('cafe.jpg')%>)"></div>
      <div style="background-image: url(<%= asset_path('gym.jpg')%>)"></div>
      <div style="background-image: url(<%= asset_path('ryokan.jpg')%>)"></div>
    </div>
  </div>
