  <div id="container">
    <div class="theTarget">
      <div style="background-image: url(<%= asset_path('MAEticke.png')%>)"></div>
      <div style="background-image: url(<%= asset_path('cafe.jpg')%>)"></div>
      <div style="background-image: url(<%= asset_path('restaulant1.jpg')%>)"></div>
      <div style="background-image: url(<%= asset_path('izakaya.jpg')%>)"></div>
      <div style="background-image: url(<%= asset_path('bookshop.jpg')%>)"></div>
      <div style="background-image: url(<%= asset_path('gym.jpg')%>)"></div>
    </div>
  </div>
