<h1>Owners::Genres#edit</h1>
<p>Find me in app/views/owners/genres/edit.html.erb</p>

      <h2>ジャンル一覧・追加</h2>
      <div class="new">
        <%= form_for(@genre, url:owners_genre_path(@genre)) do |f| %>
                <%= f.text_field :name, class:"form-control", placeholder:"Name" %>
                <span>有効</span><%= f.radio_button :status, false %>
                <span>無効</span><%= f.radio_button :status, true %>
                <%= f.submit "変更を保存する", class: "btn btn-primary" %>
        <% end %>
