<h1>Admin::Categories#edit</h1>
<p>Find me in app/views/admin/categories/edit.html.erb</p>

<h1>admins::categorys#edit</h1>
<p>Find me in app/views/admins/categorys/edit.html.erb</p>

      <h2>カテゴリ一覧・追加</h2>
      <div class="new">
        <%= form_for(@category, url:admin_category_path(@category)) do |f| %>
                <%= f.text_field :name, class:"form-control", placeholder:"Name" %>
                <span>有効</span><%= f.radio_button :status, false %>
                <span>無効</span><%= f.radio_button :status, true %>
                <%= f.submit "変更を保存する", class: "btn btn-primary" %>
        <% end %>
