<div class="container">
	<h3>店舗情報編集</h3>
	  	<div class="row">
	  		<div class="col-md-9 col-sm-9 col-xs-9">
				<%= form_for(@owner, url: admin_owner_path(@owner)) do |f|%>
					<div class="owner-card flex">
						<div class="owner-image">
						店舗写真：<br>
							<%= attachment_image_tag @owner, :image ,:fill,300,200,fallback: "no_image.jpg", size: '300x200' %>
							<%= f.attachment_field :image, placeholder: "" %>
						</div>
						<div class="owner-text">
							<table>
								<thead>
								</thead>

								<tbody>
								<tr>
									<td>カテゴリー：</td>
								    <td><%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "選択して下さい" %></td>

								</tr>
								<tr>
									<td>店舗名：</td>
									<td><%= f.text_field :name %></td>
								</tr>
								<tr>
									<td>電話番号：</td>
									<td><%= f.text_field :phone_number %><br>
								</tr>
								<tr>
									<td>店舗紹介：</td>
									<td><%= f.text_area :introduce %></td>
								</tr>
								<tr>
									<td>平均利用額：</td>
									<td><%= f.text_field :average_price %>円</td>
								</tr>
								<tr>
									<td>郵便番号：</td>
									<td><%= f.text_field :postcode %></td>
								</tr>
								<tr>
									<td>所在地：</td>
									<td><%= f.text_field :address %></td>
								</tr>
																<tr>
									<td>利用許可：</td>
									<td>
										<%= f.radio_button :status, false %><span>未許可</span>
    									<%= f.radio_button :status, true %><span>許可</span>
    								</td>
								</tr>

							</table>
							<%= f.submit "変更を保存する" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
</div>

