  <!-- ランサック特有のフォーム。 -->
<!-- asc/descは昇順、降順 -->
  <%= search_form_for @serch, url: search_products_path ,html: { method: :post } do |f| %>
  <%= f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} ) %>
 <!--  適宜、検索条件を追加 -->

  <% end %>

<!-- orでつなぐと複数のカラム名で検索できる。 -->
<%= search_form_for @serch do |f|%>
  <div class="form-group">
	<%= f.search_field :name_or_owner_name_cont, class: 'form-control'%>
	<%= f.submit "検索", class: 'btn btn-default' %>
  </div>
<% end %>
