<p id="notice"><%= notice %></p>

<h3>商品詳細</h3>
  <div class="row product-show">
    <div class="col-md-4 col-sm-4 col-xs-4">
        商品名：<%= @product.name %>(<%= @product.genre.name %>)<br>
        <%= attachment_image_tag @product, :image , :fill, 300, 200, fallback: "no_image.jpg", size: '300x200',class:'card-img-top'%>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <span>商品紹介:<br>
          　<%= @product.introduce %>
        </span>
        <br>
        <div class="card-price">
            <%= @product.price %> 円　
                <% if @product.product_status == true %>
                    <span class="status2">販売停止</span>
                <%else%>
                    <span class="status">販売中</span>
                <% end %>
        </div>

      <% if user_signed_in? %>
        <% if @product.product_status == true %>
          <% else %>
          <%= form_for :cart_item, url:cart_items_path, method: :post ,local: true do |f| %>
            <%= f.select :count,(1..10).each{ |i| p [i] } ,includece_blank: ">>　個数選択"%>
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.submit "カートに入れる", class: 'btn btn-primary'%>
          <% end %>
        <% end %>
      <% end %>
    </div>

      <div class="col-md-2 col-sm-2 col-xs-2">
        aiu
      </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<div class="row"><%= link_to 'Back', products_path %></div>
