<div class="container">
    <div class="row">
        <div class="col-sm-5">
        <h3>ジャンル一覧・追加</h3>
            <%= form_for(@genre, url: owner_genres_path) do |f| %>
                    <span>ジャンル</span>
                    <%= f.text_field :name, class:"form-control" %>
                    <span></span>
                        <span>有効</span><%= f.radio_button :status, false %>
                        <span>無効</span><%= f.radio_button :status, true %>
                    <span>
                    <%= f.submit "追加", class:"btn btn-primary btn-md btn-block btn-base-1 mt-20" %>
                    </span>
            <% end %>

            <table class="table table-striped">
            <thead>
            <tr>
                <th>ジャンル</th>
                <th>状態</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% @genres.each do |genre| %>
            <tr>
                <td><%= genre.name %></td>
                <td>
                    <% if genre.status == false %>
                        <p>有効</p>
                    <% else %>
                        <p>無効</p> 
                    <% end %>
                </td>
                <td><%= link_to "編集する", edit_owner_genre_path(genre), class: "btn btn-primary" %></td>
                <td><%= link_to "削除する", owner_genre_path(genre), method: :delete, data: { confirm: 'Are You Sure?'} %></td>
            </tr>
            <% end %>
            </tbody>
        </table>

        <%= paginate @genres %>
    </div>
    <div class="col-sm-7"></div>
</div>
</div>


