<!DOCTYPE html>
<html>
  <head>
    <title>Maeticke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <nav class="">
          <div class="collapse navbar-collapse" id="navbarEexample1">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to root_path do %>
                  <%= image_tag "maeticke2.png", alt: "マエチケ", width: "120px"%>
                <% end %>
              </li>
              <% if user_signed_in? %>
                <p class="navbar-text"><%= current_user.name %>さん</p>

                <li><%= link_to "カート", cart_items_path %></li>
                <li><%= link_to "チケット一覧", order_details_path %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                <li><%= link_to "退会処理", users_quit_path %></li>
              <% elsif owner_signed_in? %>
                <p class="navbar-text"><%= current_owner.name %>さん</p>
                <li><%= link_to "商品一覧", owner_products_path %></li>
                <li><%= link_to "ジャンル一覧", owner_genres_path %></li>
                <li><%= link_to "マイページ", owner_owner_path(current_owner) %></li>
                <li><%= link_to "ログアウト", destroy_owner_session_path, method: :delete %></li>
                <li><%= link_to "退会処理", owner_owners_quit_path(current_owner) %></li>
              <% elsif admin_signed_in? %>
                <li>管理者</li>
                <li><%= link_to "オーナー一覧", admin_owners_path %></li>
                <li><%= link_to "ユーザー一覧", admin_users_path %></li>
                <li><%= link_to "カテゴリー一覧", admin_categories_path %></li>
                <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
              <% else %>
                <p class="navbar-text">ようこそ ゲスト さん。</p>
                <li><%= link_to "会員新規登録", new_user_registration_path %></li>
                <li><%= link_to "会員ログイン", new_user_session_path %></li>
                <li><%= link_to "オーナー新規登録", new_owner_registration_path %></li>
                <li><%= link_to "オーナーログイン", new_owner_session_path %></li>
              <% end %>
            </ul>
          </div>
        </nav>
<!-- スライドショー -->
<%= render 'homes/slide' %>
<!-- 中間ヘッダー -->
        <nav class="">
          <div class="collapse navbar-collapse" id="navbarEexample1">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <li><%= link_to "商品一覧", products_path %></li>
                <li><%= link_to "店舗一覧", owners_path %></li>
              <% elsif owner_signed_in? %>
                <li><%= link_to "商品一覧", owner_products_path %></li>
                <li><%= link_to "ジャンル一覧", owner_genres_path %></li>
              <% elsif admin_signed_in? %>
                <li>管理者</li>
                <li><%= link_to "オーナー一覧", admin_owners_path %></li>
                <li><%= link_to "ユーザー一覧", admin_users_path %></li>
                <li><%= link_to "カテゴリー一覧", admin_categories_path %></li>
              <% else %>
                <p class="navbar-text">ようこそ ゲスト さん。</p>
                <li><%= link_to "商品一覧", products_path %></li>
                <li><%= link_to "店舗一覧", owners_path %></li>
              <% end %>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="検索キーワード">
              </div>
              <button type="submit" class="btn btn-default">検索</button>
            </form>
          </div>
        </nav>
      </header>
    <div class="container"><%= yield %></div>  
  </body>
  
  <footer>
    © <%= link_to "Maeticke", new_admin_session_path %>.inc
  </footer>
</html>
