<!DOCTYPE html>
<html>
  <head>
    <title>Maeticke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<!-- fontawesomeはスタイルシートより前 -->
    <script src="https://kit.fontawesome.com/5ac4675677.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
  </head>

  <body>
    little
<!-- loadingお試し -->
<!-- <div class="loader-wrap">
  <div class="loader">Loading...</div>
</div> -->

      <header>
        <nav class="site-header">
          <div class="collapse navbar-collapse" id="navbarEexample1">
          <span class="homeicon">
            <% if user_signed_in? %>
                <%= link_to root_path ,data: {"turbolinks" => false} do %>
                  <%= image_tag "maeticke4-clear.png", alt: "マエチケ", height: "50px"%>
                <% end %>
            <% elsif owner_signed_in? %>
                <%= link_to owner_homes_top_path ,data: {"turbolinks" => false} do %>
                  <%= image_tag "maeticke4-clear.png", alt: "マエチケ", height: "50px"%>
                <% end %>
            <% elsif admin_signed_in? %>
                <%= link_to admin_homes_top_path,data: {"turbolinks" => false} do %>
                  <%= image_tag "maeticke4-clear.png", alt: "マエチケ", height: "50px"%>
                <% end %>
            <% else %>
                <%= link_to root_path,data: {"turbolinks" => false} do %>
                  <%= image_tag "maeticke4-clear.png", alt: "マエチケ", height: "50px"%>
                <% end %>
            <% end %>
          </span>



            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <p class="navbar-text"><%= current_user.name %>さん</p>

                <li><%= link_to cart_items_path do %><i class="fas fa-shopping-cart"> カート</i><%end%></li>
                <li><%= link_to order_details_path do %><i class="fas fa-ticket-alt"> マイチケット</i><%end%></li>
                <li><%= link_to destroy_user_session_path, method: :delete do %><i class="fas fa-sign-out-alt"> ログアウト</i><%end%></li>
                <li><%= link_to users_quit_path do %><i class="fas fa-user-slash"> 退会処理</i><%end%></li>
              <% elsif owner_signed_in? %>
                <p class="navbar-text"><%= current_owner.name %>さん</p>
                <li><%= link_to owner_products_path do %><i class="fas fa-gifts"> 商品一覧</i><%end%></li>
                <li><%= link_to owner_genres_path do%><i class="fas fa-sitemap"> ジャンル一覧</i><%end%></li>
                <li><%= link_to owner_owner_path(current_owner) do%><i class="fas fa-store"> マイページ</i><%end%></li>
                <li><%= link_to destroy_owner_session_path, method: :delete do%><i class="fas fa-sign-out-alt"> ログアウト</i><%end%></li>
                <li><%= link_to owner_owners_quit_path(current_owner) do %><i class="fas fa-user-slash"> 退会処理</i><%end%></li>
              <% elsif admin_signed_in? %>
                <p class="navbar-text">管理者</p>
                <li><%= link_to admin_owners_path do%><i class="fas fa-store"> オーナー</i><%end%></li>
                <li><%= link_to admin_users_path do%><i class="fas fa-users"> ユーザー</i><%end%></li>
                <li><%= link_to admin_categories_path do%><i class="fas fa-sitemap"> カテゴリー</i><%end%></li>
                <li><%= link_to destroy_admin_session_path, method: :delete do%><i class="fas fa-sign-out-alt"> ログアウト</i><%end%></li>
              <% else %>
                <p class="navbar-text">ようこそ ゲスト さん。</p>
                <li><%= link_to new_user_registration_path do%><i class="fas fa-user-plus"> 新規登録</i><%end%></li>
                <li><%= link_to new_user_session_path do%><i class="fas fa-sign-in-alt"> 会員ログイン</i><%end%></li>
                <li><%= link_to new_owner_registration_path do%><i class="fas fa-handshake">　オーナー新規登録</i><%end%></li>
                <li><%= link_to new_owner_session_path do%><i class="fas fa-sign-in-alt"> オーナーログイン</i><%end%></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>




     <%= yield %>
  </body>
  <footer>

    © MAECHIKE<%= link_to ".", new_admin_session_path %>inc
  </footer>
</html>
